body {
    margin: 0;
}
/***********HEADER*********************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0px 5px;
    align-items: end;
    column-gap: 8px;
    background-color: antiquewhite;
}
header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}
header span {
    font-size: 1.5rem;
}
/******************Hamburger Button****************************/
.hamburger {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}
.hamburger.show::before {
    content: "\00D7";
}
/********************Navigation Bar******************************/
.navigation {
    display: none;
    color: white;
}
.navigation.show {
    display: block;
    grid-column: 1 / -1;
    border: 0;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation li {
    background-color: #08589e;
}
.navigation a {
    display: block;
    padding: .8rem 10px;
    color: white;
    text-decoration: none;
    border-bottom: solid 1px black;
}
.navigation li.current {
    background-color: #7a6666;
    color: white;
}
.navigation li.current a {
    color: white;
}
.navigation a:hover {
    background-color: rgb(220, 93, 9);
}
/********************Footer Section******************************/
footer {
    background-color: antiquewhite;
    padding: 1rem;
}
footer p {
    text-align: left;
    font-family: "Cormorant Garamond", serif;
    font-size: larger;
    margin: 0;
}
footer a {
    display: block;
    text-decoration: none;
    color: black;
    font-family: "Cormorant Garamond", serif;
    font-size: larger;
    font-weight: bolder;
}
footer a:hover {
    color: #0922b3;

}
.social {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin: 15px;
}
.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    border-radius: 15px;
    width: 44px;
    height: 44px;

}
.social img {
    width: 22px;
    height: 22px;
}
.social a:hover {
    background-color: orange;
}
/*****************section section*****************************/
main {
    margin-bottom: 10px;
    background-color: rgba(223, 214, 214, 0.548);
}
main h1 {
    font-family: "Inknut Antiqua", serif;
    text-align: center;
}
.menu {
    text-align: center;
    margin: 1rem 0;
}
.menu button {
    padding: 0.5rem 1rem;
    margin: 0 5px;
    cursor: pointer;
    font-family: "Cormorant Garamond", serif;
    font-size: larger;
    font-weight: bolder;
    background-color: lightgray;
    border-radius: 5px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
}
section section {
    border: 2px solid black;
    border-radius: 5px;
    background-color: #4baec54b;
    font-family: "Cormorant Garamond", serif;
}
section a {
    display: block;
    text-decoration: none;
    font-family: "Cormorant Garamond", serif;
}
section h2 {
    font-family: "Inknut Antiqua", serif;
}
section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#directory-cards.list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
#directory-cards.list section {
    display: flex;
    align-items: center;
    text-align: center;
}
#directory-cards.list section div {
    flex: 1;
    padding: 0.5rem;
}
#directory-cards.list img {
    display: none;
}