/*****************section section*****************************/
main {
    margin-bottom: 10px;
    background-color: #dfd6d68c;
}
main h1 {
    font-family: "Inknut Antiqua", serif;
    text-align: center;
}
.menu {
    text-align: center;
    margin: 1rem 0;
}
.menu button {
    padding: 0.5rem 1rem;
    margin: 0 5px;
    cursor: pointer;
    font-family: "Cormorant Garamond", serif;
    font-size: larger;
    font-weight: bolder;
    background-color: lightgray;
    border-radius: 5px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
}
section section {
    border: 2px solid black;
    border-radius: 5px;
    background-color: #4baec54b;
    font-family: "Cormorant Garamond", serif;
}
section a {
    display: block;
    text-decoration: none;
    font-family: "Cormorant Garamond", serif;
}
section h2 {
    font-family: "Inknut Antiqua", serif;
}
section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#directory-cards.list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
#directory-cards.list section {
    display: flex;
    align-items: center;
    text-align: center;
}
#directory-cards.list section div {
    flex: 1;
    padding: 0.5rem;
}
#directory-cards.list img {
    display: none;
}