/**Main Section*/
/*Hero section*/
.hero {
    position: relative;
}
.hero img {
    width: 100%;
    height: auto;
}
.hero a {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: white;
    font-family: "Inknut Antiqua", serif;
    font-size: larger;
    text-decoration: none;
    background-color: #08589e;
    padding: .3rem;
    border-radius: 5px;
    border: 2px solid black;
}
/*****Section section*******/
main {
    margin-bottom: 15px;
    background-color: #dfd6d68c;
    padding: 0 .5rem 0 .5rem;
}
main h1 {
    text-align: center;
}
main h2 {
    font-size: x-large;
}
main section {
    border: 2px solid black;
    background-color: antiquewhite;
}
.first-three-sections, .second-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
.first-three-sections {
    margin-bottom: 10px;
}
main section h2 {
    background-color: #08589e;
    margin: 0;
    border: none;
    padding: .5rem;
    color: white;
    font-family: "Inknut Antiqua", serif;
}
/*****Weather Section ******/
.weather-section {
    display: flex;
    flex-wrap: wrap;
}
.weather-section h2 {
    flex: 100%;
    text-align: center;
}
.weather-icon {
    width: 100px; 
    height: 100px;  
}
section li {
    list-style: none;
    font-family: "Cormorant Garamond", serif;
    font-size: larger;
    font-style: italic;
}
/*********Forecast section*****/
.forecast-section {
    font-family: "Cormorant Garamond", serif;
    text-align: center;
    font-size: x-large;
    font-style: italic;
}
/************Spotlight seciton*******/
.second-section section {
    
}

#spotlights section h2 {
    font-size: x-large;
}
.second-section img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

